@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    font-family: 'Roboto', sans-serif !important;
}
 *:focus {
    outline: none;
} 
.megamenu {
    position: static;
}

.megamenu .dropdown-menu {
    background: none;
    border: none;
    width: 100%
}

.text-uppercase {
    letter-spacing: 0.08em
}
.d-lg-block{
	background-color: #e2f6f2;
}
.nav-link {
 color: #9b9b9b!important;
 font-family: 'Montserrat', sans-serif;
font-size: 18px;
line-height: 1.7;
 }
.myMenuHeading{
	color: #616161!important;
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	line-height: 1.1;
}
.resourcesdiv{
    background-color: #616161;
}
.resourcesdiv h6{
    color: white !important;
}
.resourcesdiv a{
    color: white !important;
}

.myHeader {
    background: rgb(153,0,0);
    background: linear-gradient(180deg, rgba(153,0,0,1) 0%, rgba(179,0,0,1) 100%);
}
.dropdown-toggle {
	color: #fff!important;
	margin-top: 7px!important;
}

#searchBar{
    background-color: rgba(201, 76, 76, 0);
    border:0;
    border-bottom: 3px solid white;
    color:white;
    border-radius: 0;
    outline-style: white;
    box-shadow: none;
}
#searchBar::placeholder {
    color: white;
    opacity: 1;
}
#searchBar:focus{
    border:2px solid white;
    transition:300ms ease-in-out;
}
#logIn{
    color: white;
    background-color: transparent;
    font-size:20px;
    font-weight:600;
    border-left:1px solid white;
}
#login{
    margin-top:2.2%;
}
.hide{
    display:none;
}
#resources span{
    font-size:15px;
    margin-left:3px;
}
#resources{
    text-decoration: none;
}
@media only screen and (max-width: 600px) {
  .form-inline {
    width:100%!important;
  }
}
@media only screen and (max-width: 780px) {
  .btn {
    margin-top:10px!important;
  }
}

/* Arrow animated dropdown for Discover*/
.arrow {
    width: 1.25rem;
    height: 1.25rem;
    display: inline-block;
    position: relative;
    margin: 0 1rem;
  }
  .arrow span {
    top: 0.5rem;
    position: absolute;
    width: 0.75rem;
    height: 0.1rem;
    background-color: #efefef;
    display: inline-block;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .arrow span:first-of-type {
    left: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .arrow span:last-of-type {
    right: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .arrow.active span:first-of-type {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .arrow.active span:last-of-type {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  #mobile-logo{
      display:none;
  }

  /* logo mobile responsive */
  @media only screen and (max-width:560px){
   
    #mobileMenu{
        display: block;
        width:100%;
        border:1px solid black;
    }
    #logo{
        margin-left:-120px;
    }
    #login{
        margin-top:25px;
    }
    #megamneu{
        display:none;
    }
    .mobile-menu li a{
        color:white !important;
    }
    .mobile-menu a:active{
        background-color: white;
        color:rgb(153,0,0) !important;
    }
    .mobile-menu a:focus{
        background-color: white;
        color:rgb(153,0,0) !important;
    }
  }




.navbar.navbar-expand-md{
    padding:25px;
    background: rgb(153,0,0);
    background: linear-gradient(180deg, rgba(153,0,0,1) 0%, rgba(179,0,0,1) 100%);
}
.navbar.navbar-expand-md.navbar .navbar-nav.mr-auto .nav-link.dropdown-toggle{
    color:white;
    font-weight: 600;
    font-size:28px;
}
.btn-outline-danger{
    color:white;
    border-color: white;
}
.btn-outline-danger:hover{
    color:#b30000;
    background-color: white;
}
#searchBar{
    background-color: rgba(201, 76, 76, 0);
    border:0;
    border-bottom: 3px solid white;
    color:white;
    border-radius: 0;
    outline-style: white;
    box-shadow: none;
}
#searchBar::placeholder {
    color: white;
    opacity: 1;
}
#searchBar:focus{
    border:3px solid white;
    transition:300ms ease-in-out;
    box-shadow: 0 0 25px 0 white;
}
#logIn{
    color: white;
    background-color: transparent;
    font-size:20px;
    font-weight:600;
    border-left:1px solid white;
}
#hamburger-icon{
    background-color:white;
}
#navbar-toggler-id{
    background-color:white;
    border:none;
}
.navbar.navbar-expand-md .container .navbar-nav.mr-auto .nav-item.dropdown{
    width:100%;
}

.navbar-nav .dropdown-menu {
    width:100% !important;
}

footer{
    max-width: 100%;
      padding: 10px;
    background:#1a1a1a;
   border-top: 5px solid;
   border-top-color: rgb(153,0,0);
}
.desccol{
    max-width: 50% !important;
    margin: 0 auto;

}
#descriptions{
    width: 100%;
}
.btndiv{
    text-align: center;
}
#comrow{
    display: flex;
    flex-direction: row;
}
.combox:hover h3{
  color:rgb(153,0,0) !important ;
  transition: 0.3s ease-in;
}
.combox a:hover{
  color:rgb(153,0,0) !important ;
  transition: 0.2s ease-in;
}

.combox a{
    text-decoration: none;
    color: white;
    text-align: left;
}


.combox .h3{
  text-align: center;
  pointer-events: none;
  border-bottom: 1px solid transparent;
  border-width: 3px;
  width: 0px;
  transition: width .5s ease, background-color .5s ease;

}

.combox:hover .h3{
  width: 100%;
  border-bottom: 3px solid rgb(153,0,0);
}
@media only screen and (max-width: 991px) {
.combox a {
  text-align: center;
}
.navbar-collapse{
    display: none;
}
.mobile-menu li a{
    color:white !important;
}
.mobile-menu a:active{
    background-color: white;
    color:rgb(153,0,0) !important;
}
.mobile-menu a:focus{
    background-color: white;
    color:rgb(153,0,0) !important;
}
.mobile-menu{
    width:100%;
    background: rgb(153,0,0);
    background: linear-gradient(180deg, rgba(153,0,0,1) 0%, rgba(179,0,0,1) 100%);
    position: absolute ;
    text-align:center;
    color:white !important;
    font-weight: 600;
    text-decoration: none;
}
#logo{
    margin-left: -250%;
}
.combox .h3{
  text-align: center;
  pointer-events: none;
  border-bottom: 1px solid transparent;
  border-width: 3px;
  width: 100%;
  transition: none;
}
#megamneu{
    display: none;
}
#searchform{
    display: none;
}
#searchmobile{
    padding: 20px;
    max-width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 100px;
}
#searchmobile input{
    width: 50%;
    display: inline;
}
#searchmobile img{
    margin-left:2%;
    margin-top: 1%;
}
.combox h3{
    color: rgb(153,0,0) !important;
}
.icons {
  text-align: center;
}
}
@media only screen and (max-width: 767px) {
    #logo{
        margin-left: -100%;
    }
}
@media only screen and (min-width: 992px) {
   .mobile-menu{
       display: none;
   }
}

@media only screen and (max-width: 419px) {
    #logo{
        margin-left: -20%;
    }
}
@media only screen and (max-width: 378px) {
    #logo{
        margin-left: 0;
    }
}
.icons img{
margin-left: 5%;
}


/* width */
::-webkit-scrollbar {
width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
background: rgba(0, 0, 0, .3);
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #b30000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #990000;
}

/*MODAL*/
.modal-content{
    background-color: #1a1a1a;
    color: white !important;
}
/*Modal Links */
.nav-tabs{
    border: 0;
}
.lrlinks{
    border: 0 !important;
}

.btn-tab{
    text-decoration: none;
    border: 0;
    color: white;
    background: transparent;
    padding: 10px;
    font-size: 17px;
    transition: 0.2s all ease;
}
.btn-tab:focus{
    outline: 0 !important;
}
.btn-tab:hover{
    text-decoration: none;
    color: rgb(153,0,0);
    border-bottom: 2px solid rgb(153,0,0);
}

.tab-active{
    color: rgb(153,0,0);
    border-bottom: 2px solid rgb(153,0,0);
}


.form-control:focus{
    border-color: rgb(153,0,0);
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(153,0,0,1);
}
.btn-danger{
    background-color: rgb(153,0,0);
    border: 0;
}
.btn-danger:hover{
    background-color: rgb(141, 0, 0);
}
.btn-danger:active{
    background-color: rgb(128, 2, 2) !important;
}
.activetab{
    border-bottom: rgb(153,0,0);
    border: 2px solid;
}
.box-shadow{
    box-shadow: 1px 6px 7px #aaaaaa;
    width: 65.4% !important;
}

.socialicons{
    margin:0 auto;
    margin-left: 20px;
}