.megamenu {
    position: static;
}

.megamenu .dropdown-menu {
    background: none;
    border: none;
    width: 100%
}

.text-uppercase {
    letter-spacing: 0.08em
}
.d-lg-block{
	background-color: #e2f6f2;
}
.nav-link {
 color: #9b9b9b!important;
 font-family: 'Montserrat', sans-serif;
font-size: 18px;
line-height: 1.7;
 }
.myMenuHeading{
	color: #616161!important;
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	line-height: 1.1;
}

.myHeader {
    background: rgb(153,0,0);
    background: linear-gradient(180deg, rgba(153,0,0,1) 0%, rgba(179,0,0,1) 100%);
}
.dropdown-toggle {
	color: #fff!important;
	margin-top: 7px!important;
}

#searchBar{
    background-color: rgba(201, 76, 76, 0);
    border:0;
    border-bottom: 3px solid white;
    color:white;
    border-radius: 0;
    outline-style: white;
    box-shadow: none;
}
#searchBar::placeholder {
    color: white;
    opacity: 1;
}
#searchBar:focus{
    border:2px solid white;
    transition:300ms ease-in-out;
}
#logIn{
    color: white;
    background-color: transparent;
    font-size:20px;
    font-weight:600;
    border-left:1px solid white;
}
#login{
    margin-top:2.2%;
}
.hide{
    display:none;
}
#resources span{
    font-size:15px;
    margin-left:3px;
}
#resources{
    text-decoration: none;
}
@media only screen and (max-width: 600px) {
  .form-inline {
    width:100%!important;
  }
}
@media only screen and (max-width: 780px) {
  .btn {
    margin-top:10px!important;
  }
}

